apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-app
  labels:
    app: user-service-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service-app
  template:
    metadata:
      labels:
        app: user-service-app
    spec:
      containers:
        - name: user-service-app
          image: shynggys/io.bytestreme.user-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          env:
            - name: CONFIG_SERVER_URI
              valueFrom:
                configMapKeyRef:
                  name: cloud-config-cm
                  key: CONFIG_SERVER_URI
            - name: EUREKA_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: eureka-cm
                  key: EUREKA_SERVICE_URL
            - name: CONFIG_SERVER_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: cloud-config-cm
                  key: CONFIG_SERVER_ENABLED
            - name: EUREKA_SERVER_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: eureka-cm
                  key: EUREKA_SERVER_ENABLED
            - name: CLOUD_REGION
              valueFrom:
                configMapKeyRef:
                  name: database-cm
                  key: CLOUD_REGION
            - name: DATABASE_ID
              valueFrom:
                configMapKeyRef:
                  name: database-cm
                  key: DATABASE_ID
            - name: KEYSPACE
              valueFrom:
                configMapKeyRef:
                  name: database-cm
                  key: KEYSPACE
            - name: APPLICATION_TOKEN
              valueFrom:
                configMapKeyRef:
                  name: database-cm
                  key: APPLICATION_TOKEN

---

kind: Service
apiVersion: v1
metadata:
  name: user-service-svc
spec:
  selector:
    app: user-service-app
  ports:
    - port: 80
      targetPort: 8081
